html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-image: url(./images/bg-header-desktop.png);
    background-color: white;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: 'Bai Jamjuree', sans-serif;
}

.attribution {
    font-size: 11px; text-align: center;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.guide {
    color: hsl(171, 66%, 44%);
    color: hsl(233, 100%, 69%);
    color: hsl(210, 10%, 33%);
    color: hsl(201, 11%, 66%);
    font-size: 18px; /*body*/
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400, 600;

    /*
    - Mobile: 375px
    - Desktop: 1440px
    */
}