/*
Hacer:
-style section por section: colores, weights, borders, etc
-style flex y margins
-cerrar desktop
-aplicar a mobile
-hover states
*/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-image: url(./images/bg-header-desktop.png);
    background-color: white;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: 'Bai Jamjuree', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 95px;
    margin: 100px 10% auto 10%;
}

header {
    margin-top: 15px !important;
}

header, section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px 0;
    width: 100%;
}

header, .access .ios-mac, .main-text {
    padding: 0 18%;
}

header img {
    width: 110px;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin: 50px 0 20px 0;
}

.hero-description {
    font-size: 18px;
    text-align: center;
    margin: 0 0 50px 0;
}

.download {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

button {
    border: none;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    color: white;
    border-radius: 9em;
    font-size: 15px;
}

.green {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 3px hsl(171, 66%, 33%);
}

.purple {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 3px #5161D9;
}

.track {
    height: 760px;
}

.twosides {
    display: flex;
    align-items: center;
}

.track-features {
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: space-evenly;
    margin: 0 120px 0 -100px;
}

.twosides .big {
    position: relative;
    right: 200px;
    max-width: 67%;
    margin: 0;
    }

h2 {
    font-size: 30px;
    font-weight: 700;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin: 0px;
}

h3 {
    font-weight: 700;
    color: hsl(210, 10%, 33%);
    font-size: 20px;
    margin: 0px;
}

p {
    color: hsl(201, 11%, 66%);
    line-height: 1.5em;
}

.description {
    font-size: 16px;
    text-align: center;
}

.feature-description {
    font-size: 14px;
}

.access .main-text {
    margin-bottom: 70px;
}

.access .big {
    max-width: 90%;
}

.supercharge {
    margin-top: -60px;
}

.visual-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.visual-features p, .visual-features h3 {
    text-align: center;
}

.icon-feature {
    max-width: 280px;
}

.icon-wrapper {
    width: 60px;
    height: 70px;
    margin: 0 auto;
}

.icon-wrapper img {
    display: block;
    max-width: 40px;
    margin: 0 auto;
}

.icon[src="./images/icon-text.svg"] {
    max-width: 34px;
}

.clients {
    flex-direction: row;
    justify-content: space-between;
}

.clients img {
    max-width: 15%;
}


.ios-mac {





}



footer {
    background-color: #f6f6f6;
    padding: 30px 10%;
    display: flex;
    align-items: center;
}

.logo-wrapper {
    width: 190px;
}

.footer-links {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    column-gap: 3em;
    width: 400px;
}

.social {
    display: flex;
    gap: 1.5em;
    margin-left: auto;
}

footer img {
    width: 50px;
    object-fit: cover;
}

.social img {
    width: 22px;
}

.footer-links p {
    margin: 8px 0;
    padding: 0px;
    color: hsl(201, 11%, 55%);
    font-size: 16px;
    line-height: 1.5em;
}

.attribution {
    font-size: 11px;
    color: hsl(201, 11%, 66%);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    left: 50%;
}

.attribution a {
    color: hsl(201, 11%, 66%);
}

.guide {
    color: hsl(171, 66%, 44%);
    color: hsl(233, 100%, 69%);
    color: hsl(210, 10%, 33%);
    color: hsl(201, 11%, 66%);
    font-size: 18px; /*body*/
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400, 600;

    /*
    - Mobile: 375px
    - Desktop: 1440px
    */
}